/*reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

/*criando variáveis de cor*/
:root{
    --bg-color: #DDE1E6;
    --sec-bg-color: #F8F9FA;
    --blue-medic: #3A7CA5;
    --green-chill: #6FB98F;
    --red: #C94C4C;
    --yel: #F9E79F;
}

/*body da pag error*/
.body-error{
    background-color: rgb(198, 202, 219);
}

.container-error{
    display: flex;
    justify-content: space-around;
    margin-top: 25%;
}

.body-error h1,p{
    color: #fff;
}

/*nav*/
.c-nav{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--blue-medic);
}

.nav-link{
    background-color: var(--blue-medic);
    color: #fff;
    transition: 0.3s ease-in-out;
    border-radius: 3px;
}

.nav-link:hover{
    transform: scale(1.11);
    border: 2px solid var(--bg-color);
    padding: 4px 10px;
    border-radius: 5px;
}


/*Home*/
.body-home{
    background-color: var(--sec-bg-color);
}

.c-content-home{
    position: relative;
    width: fit-content;
    display: inline-block;
    border: 7px solid var(--blue-medic);
}

#text-overlay{ /*sobrepondo o texto na img*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.button-overlay{ /*sobrepondo o button na img*/
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--green-chill);
    background-color: var(--green-chill);
    padding: 10px;
    border-radius: 10px;
    color: var(--bg-color);
    font-weight: 600;
}

.button-overlay button:hover{
    cursor: pointer;
    color: var(--green-chill);
    background-color: var(--sec-bg-color);
    transition: 0.3s ease-in-out;
}

.button-overlay:hover{
    cursor: pointer;
    color: var(--green-chill);
    background-color: var(--sec-bg-color);
    transition: ease 0.3s;
}

.content-home img{
    filter: blur(2.5px);
}

.content-home h1{
    text-align: center;
    
}

.c-desafio{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}

.c-desafio h2{
    color: var(--sec-bg-color);
    font-weight: 700;
    text-transform: uppercase;
}

.c-desafio .scale-card{
    text-align: center; /* Alinha o texto horizontalmente */
    display: flex;
    flex-direction: column; /* Para alinhar os itens verticalmente */
    justify-content: center; /* Alinha os itens verticalmente ao centro */
    align-items: center;
}

.c-desafio .scale-card button{
    padding: 10px;
    border: 2px solid var(--sec-bg-color);
    border-radius: 10px;
    background-color: var(--blue-medic);
    color: var(--sec-bg-color);
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10%;
}

.c-desafio .scale-card button:hover{
    border: 2px solid transparent;
    background-color: var(--sec-bg-color);
    color: var(--blue-medic);
    transform: scale(1.04);
}

.c-desafio img{
    align-items: center;
}

.content-problema{
    background-color: var(--yel);
    padding: 10px;
    transition: all 0.3s;
}

.content-problema img{
    width: 50%
}

.content-dados{
    background-color: var(--red);
    padding: 10px;
    transition: all 0.3s;
}

.content-solucao{
    background-color: var(--green-chill);
    padding: 10px;
    transition: all 0.3s;
}

.content-solucao button{
    cursor: pointer;
    border: 2px solid var(--bg-color);
    padding: 4px;
    background-color: var(--bg-color);
}

.scale-card:hover{
    transform: scale(1.04);
}

.size{ /*tamanho da ocupação dos cards solucao, dados, problema == 100% para todos*/
    width: 100%;
}



/*problema abordado*/
.c-problema{
    padding: 20px;
    margin: 5% 5% 0% 5%;
    border: 2px solid var(--blue-medic);
    border-radius: 10px;
}

.c-problema p{
    color: var(--blue-medic);
    padding-top: 10px;
}

.letra-n{
    font-size: 2rem;
}

.c-problema h2{
    border-left: 8px solid var(--blue-medic);
    font-size: 3rem;
    font-weight: 700;
    padding-left: 5px;
    color: var(--blue-medic);
}



/*nossa solução*/
.c-solucao{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.c-solucao h2{
    color: var(--blue-medic);
    font-weight: 600;
    font-size: 25px;
    margin: 10% 0% 5% 0%;
}

.c-solucao p{
    color: black;
    padding: 20px;
}

.c-solucao a{
    color: var(--blue-medic);
    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
}

.c-solucao b{
    color: var(--blue-medic);
    font-size: 20px;
}

.link-img-solucao{
    border: 2px solid var(--blue-medic);
    margin: 4%;
    transition: 0.3s ease;
}

.link-img-solucao:hover{
    background-color: rgb(201, 210, 255);
}

/*Error*/
.c-error{
    margin-top: 10%;
}

.btn-error{
    padding: 10px;
}


/*rodape*/
.rodape{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    background-color: var(--blue-medic);
    padding: 5%;
}

.rodape a{
    color: var(--sec-bg-color);
    transition: all 0.3s;
}

.rodape a:hover{
    color: rgb(130, 179, 243);
    border-left: 4px solid rgb(130, 179, 243);
}

.rodape h2{
    color: var(--sec-bg-color);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5%;
}

.rodape img{
    width: 30px;
    margin: 5px 10px -10px 5px;
    padding: 5px;

}